@import 'styles/fonts.css';

body {
  font-family: var(--font-main);
  margin: 0;
  background-color: white;
}

/* Header Styles */
header {
  background-color: #FF964F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.4rem;
}

nav a {
  color: white;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Content */
.main-content {
  padding: 1rem 2rem;
}

.main-content h1 {
  color: #FF964F;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.subtext {
  color: #F9AE7A;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.card-button {
  background-color: #FF964F;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card-button:hover {
  background-color: #F97316;
}

/* Flip Card Animation */
.card-container {
  perspective: 1000px;
  width: 300px;
  height: 200px;
  margin: 2rem auto;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #FF8737;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #FFFF
}

.card-back {
  transform: rotateY(180deg);
  background-color: #d9fdd3;
}
